<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thinkgem.jeesite.mapper.UserTokenMapper" >
  <resultMap id="BaseResultMap" type="com.thinkgem.jeesite.vo.UserToken" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="access_token" property="access_token" jdbcType="VARCHAR" />
    <result column="expires_in" property="expires_in" jdbcType="VARCHAR" />
    <result column="refresh_token" property="refresh_token" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="scope" property="scope" jdbcType="VARCHAR" />
    <result column="in_time" property="inTime" jdbcType="TIMESTAMP" />
    <result column="in_out_time" property="inOutTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, code, access_token, expires_in, refresh_token, openid, scope, in_time, in_out_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.thinkgem.jeesite.vo.UserTokenExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from user_token
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_token
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_token
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.thinkgem.jeesite.vo.UserTokenExample" >
    delete from user_token
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.thinkgem.jeesite.vo.UserToken" >
    insert into user_token (id, code, access_token, 
      expires_in, refresh_token, openid, 
      scope, in_time, in_out_time
      )
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{access_token,jdbcType=VARCHAR},
      #{expires_in,jdbcType=VARCHAR}, #{refresh_token,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR},
      #{scope,jdbcType=VARCHAR}, #{inTime,jdbcType=TIMESTAMP}, #{inOutTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.thinkgem.jeesite.vo.UserToken" >
    insert into user_token
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="access_token != null" >
        access_token,
      </if>
      <if test="expires_in != null" >
        expires_in,
      </if>
      <if test="refresh_token != null" >
        refresh_token,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="scope != null" >
        scope,
      </if>
      <if test="inTime != null" >
        in_time,
      </if>
      <if test="inOutTime != null" >
        in_out_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="access_token != null" >
        #{access_token,jdbcType=VARCHAR},
      </if>
      <if test="expires_in != null" >
        #{expires_in,jdbcType=VARCHAR},
      </if>
      <if test="refresh_token != null" >
        #{refresh_token,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="scope != null" >
        #{scope,jdbcType=VARCHAR},
      </if>
      <if test="inTime != null" >
        #{inTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inOutTime != null" >
        #{inOutTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.thinkgem.jeesite.vo.UserTokenExample" resultType="java.lang.Integer" >
    select count(*) from user_token
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_token
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.access_token != null" >
        access_token = #{record.access_token,jdbcType=VARCHAR},
      </if>
      <if test="record.expires_in != null" >
        expires_in = #{record.expires_in,jdbcType=VARCHAR},
      </if>
      <if test="record.refresh_token != null" >
        refresh_token = #{record.refresh_token,jdbcType=VARCHAR},
      </if>
      <if test="record.openid != null" >
        openid = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.scope != null" >
        scope = #{record.scope,jdbcType=VARCHAR},
      </if>
      <if test="record.inTime != null" >
        in_time = #{record.inTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.inOutTime != null" >
        in_out_time = #{record.inOutTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_token
    set id = #{record.id,jdbcType=INTEGER},
      code = #{record.code,jdbcType=VARCHAR},
      access_token = #{record.access_token,jdbcType=VARCHAR},
      expires_in = #{record.expires_in,jdbcType=VARCHAR},
      refresh_token = #{record.refresh_token,jdbcType=VARCHAR},
      openid = #{record.openid,jdbcType=VARCHAR},
      scope = #{record.scope,jdbcType=VARCHAR},
      in_time = #{record.inTime,jdbcType=TIMESTAMP},
      in_out_time = #{record.inOutTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.thinkgem.jeesite.vo.UserToken" >
    update user_token
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="access_token != null" >
        access_token = #{access_token,jdbcType=VARCHAR},
      </if>
      <if test="expires_in != null" >
        expires_in = #{expires_in,jdbcType=VARCHAR},
      </if>
      <if test="refresh_token != null" >
        refresh_token = #{refresh_token,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="scope != null" >
        scope = #{scope,jdbcType=VARCHAR},
      </if>
      <if test="inTime != null" >
        in_time = #{inTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inOutTime != null" >
        in_out_time = #{inOutTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.thinkgem.jeesite.vo.UserToken" >
    update user_token
    set code = #{code,jdbcType=VARCHAR},
      access_token = #{access_token,jdbcType=VARCHAR},
      expires_in = #{expires_in,jdbcType=VARCHAR},
      refresh_token = #{refresh_token,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      scope = #{scope,jdbcType=VARCHAR},
      in_time = #{inTime,jdbcType=TIMESTAMP},
      in_out_time = #{inOutTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>